<!--================Latest News Area =================--> 
<div class="section latest_news_area">
    <div class="container">
       <div class="left_tittle">
           <h2>Latest News</h2>
       </div>
        <div class="row latest_news_row">            
            {{ range first 2 (where .Site.RegularPages "Type" "post") }}
            <div class="col-lg-4 col-md-6">
                <div class="latest_news">
                    <div class="news_img">
                        <a href="blog-details.html"><img src="images/latest-news-2.jpg" alt=""></a> 
                        <span>26 Aug. 2017</span>
                    </div> 
                    <a href="blog-details.html" class="news_heding">{{ .Title }}</a>
                    <p>{{ .Description }}</p>
                    <a href="blog-details.html" class="read_mor">Read more</a>
                </div>
            </div>
            {{ end }}

            <div class="col-lg-4 col-md-6">
                <div class="line_news">
                    {{ range after 2 (where .Site.RegularPages "Type" "post") }}
                    <a href="blog-details.html">{{ .Title }}</a>
                    <h4>Aug 26 2017</h4>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Latest News Area =================-->