<header class="main_header_area">
	<div class="header_top">
		<div class="container"> 
			<div class="header_top_inner d-sm-flex justify-content-sm-between">
				<div class="left_info">
					<a href="#"><i class="fa fa-phone"></i>+ (1800) 456 7890</a>
					<a href="#"><i class="fa fa-envelope-o"></i>info@hilltownresort.com</a>
				</div> 
				<ul class="header_social">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul> 
			</div>
		</div>
	</div>
	<div class="header_menu"> 
		<nav class="navbar navbar-expand-lg">
		   <div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="images/logo.png" alt="">
					<img src="images/top-sticky-bar-logo.png" alt="">
				</a>
				<!-- Small Divice Menu-->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_supported" aria-controls="navbar_supported" aria-expanded="false" aria-label="Toggle navigation"> 
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbar_supported">
					<ul class="navbar-nav"> 
						<li>
							<a class="nav-link dropdown-toggle active" href="" role="button" data-toggle="dropdown" aria-expanded="false">Home</a>
						</li>
						<li><a class="nav-link end_menu" href="post/">Blog</a></li> 
						<li class="search_dropdown">
							<a class="popup-with-zoom-anim" href="#test-search"><i class="icon icon-Search"></i></a> 
						</li>
					</ul> 
				</div>
		   </div>
		</nav>
	</div>
</header>