<header class="main_header_area">
	<div class="header_top">
		<div class="container"> 
			<div class="header_top_inner d-sm-flex justify-content-sm-between">
				<div class="left_info">
					<a href="#"><i class="fa fa-phone"></i>676 53 79 96</a>
					<a href="#"><i class="fa fa-envelope-o"></i>tere@teresarojo.com</a>
				</div> 
				<ul class="header_social">
					<li><a href="https://www.instagram.com/teresarojo_trainer/" target="_blank"><i class="fa fa-instagram"></i></a></li>
				</ul> 
			</div>
		</div>
	</div>
	<div class="header_menu"> 
		<nav class="navbar navbar-expand-lg">
		   <div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="images/logotr.svg" height="60" alt="">
					<img src="images/logotr.svg" height="30" alt="">
				</a>
				<!-- Small Divice Menu-->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_supported" aria-controls="navbar_supported" aria-expanded="false" aria-label="Toggle navigation"> 
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbar_supported">
					<ul class="navbar-nav"> 
						<li>
							<a class="nav-link dropdown-toggle active" href="" role="button" data-toggle="dropdown" aria-expanded="false">Home</a>
						</li>
						<li class="dropdown">
							<a class="nav-link dropdown-toggle active" href="" role="button" data-toggle="dropdown" aria-expanded="false">Servicios</a>
							<ul class="dropdown-menu services_d">
								{{ range first 10 (where .Site.RegularPages "Type" "servicio") }}
								<li><a href="{{ .Permalink }}">{{ .Title }}</a></li> 
								{{ end }} 
							</ul>
						</li>
						<li><a class="nav-link end_menu" href="post/">Blog</a></li>
					</ul> 
				</div>
		   </div>
		</nav>
	</div>
</header>