  <!--================Slider Area =================-->
  <section class="main_slider_area">
    <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
        <ul>
            <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/homeSlider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="images/homeSlider/slider-1.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text" 
                    id="slide-1586-layer-1" 
                    data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                    data-y="['top','top','top','top']" data-voffset="['290','290','290','290','200','140']" 
                    data-fontsize="['55','55','55','55','50','35']"
                    data-lineheight="['70','70',70','70','55','40']"
                    data-width="['600','600','600','600','500','300']"
                    data-height="none"
                    data-whitespace="normal"
                    data-type="text" 
                    data-responsive_offset="on" 
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":550,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                    data-textAlign="['left','left','left','left','left','center']">I’m <span>Juliet</span> ...</div>
                    
                    <div class="tp-caption tp-resizeme secand_text" 
                    id="slide-1587-layer-2" 
                    data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                    data-y="['top','top','top','top']" data-voffset="['355','355','355','355','270','190']" 
                    data-fontsize="['55','55','55','55','45','30']"
                    data-lineheight="['70','70','70','70','50','40']"
                    data-width="['600','600','600','600','500','300']"
                    data-height="none"
                    data-whitespace="normal"
                    data-type="text" 
                    data-responsive_offset="on" 
                    data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                    data-textAlign="['left','left','left','left','left','center']">Your Health Coach</div>
                    
                    <div class="tp-caption tp-resizeme third_text" 
                        id="slide-1588-layer-3" 
                        data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                        data-y="['top','top','top','top']" data-voffset="['435','435','435','435','340','240']"  
                        data-fontsize="['20','20','20','20','20','16']"
                        data-lineheight="['26','26','26','26']"
                        data-width="['600','600','600','600','480','300']"
                        data-height="none"
                        data-whitespace="normal"
                        data-type="text" 
                        data-responsive_offset="on"
                        data-transform_idle="o:1;"
                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left','left','center']">Work towards your fitness goal with one of our amazing personal trainers, for the price of just one cup of coffee per week.
                    </div>
                    
                    <div class="tp-caption tp-resizeme slider_button" 
                        id="slide-1589-layer-4" 
                        data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                        data-y="['top','top','top','top']" data-voffset="['533','533','533','533','450','350']" 
                        data-fontsize="['18','18','18','18']"
                        data-lineheight="['52','52','52','52']"
                        data-width="['600','600','600','600','550','300']" 
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left','left','center']">
                        <a class="slider_btn" href="#">Get appointment</a>
                    </div>
                </div>
            </li> 
            <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/homeSlider/slider-1.1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="images/homeSlider/slider-1.1.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text" 
                    id="slide-1590-layer-1" 
                    data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                    data-y="['top','top','top','top']" data-voffset="['290','290','290','290','200','140']" 
                    data-fontsize="['55','55','55','55','50','35']"
                    data-lineheight="['64','64','64','64','55','40']"
                    data-width="['600','600','600','600','500','300']"
                    data-height="none"
                    data-whitespace="normal"
                    data-type="text" 
                    data-responsive_offset="on" 
                    data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                    data-textAlign="['left','left','left','left','left','center']">A <span>Brand New</span></div>
                    
                    <div class="tp-caption tp-resizeme secand_text" 
                    id="slide-1591-layer-2" 
                    data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                    data-y="['top','top','top','top']" data-voffset="['355','355','355','355','270','190']" 
                    data-fontsize="['55','55','55','55','45','28']"
                    data-lineheight="['70','70','70','70','55','40']"
                    data-width="['600','600','600','600','500','300']"
                    data-height="none"
                    data-whitespace="normal"
                    data-type="text" 
                    data-responsive_offset="on" 
                    data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                    data-textAlign="['left','left','left','left','left','center']">Training Experience</div>
                    
                    <div class="tp-caption tp-resizeme third_text" 
                        id="slide-1592-layer-3" 
                        data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                        data-y="['top','top','top','top']" data-voffset="['435','435','435','435','340','240']"  
                        data-fontsize="['20','20','20','20','20','16']"
                        data-lineheight="['26','26','26','26']"
                        data-width="['600','600','600','600','480','300']"
                        data-height="none"
                        data-whitespace="normal"
                        data-type="text" 
                        data-responsive_offset="on"
                        data-transform_idle="o:1;"
                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left','left','center']">Work towards your fitness goal with one of our amazing personal trainers, for the price of just one cup of coffee per week.
                    </div>
                    
                    <div class="tp-caption tp-resizeme slider_button" 
                        id="slide-1593-layer-4" 
                        data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                        data-y="['top','top','top','top']" data-voffset="['533','533','533','533','450','350']" 
                        data-fontsize="['18','18','18','18']"
                        data-lineheight="['52','52','52','52']"
                        data-width="['600','600','600','600','550','300']" 
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left','center']">
                        <a class="slider_btn" href="#">Get appointment</a>
                    </div>
                </div>
            </li>
            <li data-index="rs-1589" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/homeSlider/slider-1.2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="images/homeSlider/slider-1.2.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text" 
                    id="slide-1594-layer-1" 
                    data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                    data-y="['top','top','top','top']" data-voffset="['290','290','290','290','200','140']" 
                    data-fontsize="['55','55','55','55','50','30']"
                    data-lineheight="['64','64','64','55','40']"
                    data-width="['600','600','600','600','500','300']"
                    data-height="none"
                    data-whitespace="normal"
                    data-type="text" 
                    data-responsive_offset="on" 
                    data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                    data-textAlign="['left','left','left','left','left','center']">Get <span> Support From a</span></div>
                    
                    <div class="tp-caption tp-resizeme secand_text" 
                    id="slide-1595-layer-2" 
                    data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                    data-y="['top','top','top','top']" data-voffset="['355','355','355','355','270','190']" 
                    data-fontsize="['55','55','55','55','45','28']"
                    data-lineheight="['64','64','64','64','50','40']"
                    data-width="['600','600','600','600','500','300']"
                    data-height="none"
                    data-whitespace="normal"
                    data-type="text" 
                    data-responsive_offset="on" 
                    data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                    data-textAlign="['left','left','left','left','left','center']">Real Personal Trainer</div>
                    
                    <div class="tp-caption tp-resizeme third_text" 
                        id="slide-1596-layer-3" 
                        data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                        data-y="['top','top','top','top']" data-voffset="['435','435','435','435','340','240']"  
                        data-fontsize="['20','20','20','20','20','16']"
                        data-lineheight="['26','26','26','26']"
                        data-width="['600','600','600','600','480','300']"
                        data-height="none"
                        data-whitespace="normal"
                        data-type="text" 
                        data-responsive_offset="on"
                        data-transform_idle="o:1;"
                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left','left','center']">Work towards your fitness goal with one of our amazing personal trainers, for the price of just one cup of coffee per week.
                    </div>
                    
                    <div class="tp-caption tp-resizeme slider_button" 
                        id="slide-1597-layer-4" 
                        data-x="['right','right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                        data-y="['top','top','top','top']" data-voffset="['533','533','533','533','450','350']" 
                        data-fontsize="['18','18','18','18']"
                        data-lineheight="['52','52','52','52']"
                        data-width="['600','600','600','600','550','300']"  
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                        data-textAlign="['left','left','left','left','left','center']">
                        <a class="slider_btn" href="#">Get appointment</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--================End Slider Area =================-->

<!--================Health coach Area =================-->
<section class="health_coach_area">
    <div class="container">
       <div class="center_tittle">
           <h2>Why need health coach for fitness</h2>
           <p>Our fitness coaches can enable you to meet your wellness objectives. They can turn into your instructor, your helper, your mentor and your companion. Our fitness coaches are degreed and confirmed by a certify wellness association.</p>
       </div>
        <div class="row health_coach_row">
            <div class="col-lg-4 col-md-6 col-sm-6 coach">
               <a href="nutrition-plan.html" class="coach_img"> 
                    <img src="images/cash-1.jpg" alt=""> 
               </a>
                <a href="nutrition-plan.html">Nutrition Strategies</a>
            </div> 
            <div class="col-lg-4 col-md-6 col-sm-6 coach">
               <a href="routein-program.html" class="coach_img"> 
                    <img src="images/cash-2.jpg" alt=""> 
               </a>
                <a href="routein-program.html">Workout Routein</a>
            </div> 
            <div class="col-lg-4 col-md-6 col-sm-6 coach">
               <a href="weightloss-program.html" class="coach_img"> 
                    <img src="images/cash-3.jpg" alt=""> 
               </a>
                <a href="weightloss-program.html">Individual Support</a>
            </div> 
        </div>
    </div>
</section>
<!--================End Health coach =================-->

<!--================Our Services Area =================--> 
<section class="services_area">
    <div class="container">
       <div class="left_tittle">
           <h2>Our Services</h2>
           <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt. </p>
       </div>
        <div class="row service_row">
            <div class="col-lg-4 col-md-6 body_mind">
                <div class="media"> 
                    <i class="flaticon-running"></i>
                    <div class="media-body">
                        <h4>Balance Body mind</h4>
                        <p>Lorem Ipsum is  simply my text of the printing and Ipsum is simply text of the Ipsum is simply.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 body_mind">
                <div class="media"> 
                    <i class="flaticon-nutrition"></i>
                    <div class="media-body">
                        <h4>Nutrition Plan</h4>
                        <p>Lorem Ipsum is  simply my text of the printing and Ipsum is simply text of the Ipsum is simply.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 body_mind">
                <div class="media"> 
                    <i class="flaticon-gym"></i>
                    <div class="media-body">
                        <h4>Fitness &amp; Performance</h4>
                        <p>Lorem Ipsum is  simply my text of the printing and Ipsum is simply text of the Ipsum is simply.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 body_mind">
                <div class="media"> 
                    <i class="flaticon-runner"></i>
                    <div class="media-body">
                        <h4>Routein Programe</h4>
                        <p>Lorem Ipsum is  simply my text of the printing and Ipsum is simply text of the Ipsum is simply.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 body_mind">
                <div class="media"> 
                    <i class="flaticon-waist"></i>
                    <div class="media-body">
                        <h4>Weight Loss Program</h4>
                        <p>Lorem Ipsum is  simply my text of the printing and Ipsum is simply text of the Ipsum is simply.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 body_mind">
                <div class="media"> 
                    <i class="flaticon-cardiogram"></i>
                    <div class="media-body">
                        <h4>Cardio Excercise</h4>
                        <p>Lorem Ipsum is  simply my text of the printing and Ipsum is simply text of the Ipsum is simply.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Our Services Area =================-->

<!--================Fitness Course Area =================--> 
<section class="fitness_course_area">
    <div class="container">
        <div class="fitness_course_row">
            <h2>6 months Fitness Course</h2>
            <p>Start working on your body today, and with our individual fitness program, already in 90 days you will see a totally different girl in the mirror.</p>
            <a href="#" class="get_btn">Get appointment</a>
        </div>
    </div>
</section>
<!--================End Fitness Course Area =================-->

<!--================About Us Area =================--> 
<section class="about_us_area">
    <div class="container">
        <div class="row aboutus_row">
            <div class="about_content col-lg-6 col-md-12">
                <h2>About Us</h2>
                <p class="bold">Our fitness coaches can enable you to meet your wellness objectives. They can turn into your instructor, your helper, your mentor and your companion. </p>
                <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
                <a href="#" class="get_btn">Know more about us</a>
                <img src="images/sign.png" alt="">
            </div>
            <div class="col-lg-6 col-md-12 about_video"> 
                <div class="video_inner">
                    <a class="popup-youtube" href="https://vimeo.com/124077529"><img src="images/play-icon.png" alt=""></a> 
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End About Us Area =================-->

<!--================Our customers says Area =================--> 
<section class="customers_says">
    <div class="container">
       <div class="center_tittle">
           <h2>What our customers says</h2>
           <h6>Thousands of people get benefit</h6>
       </div>
        <div class="customers_says_row">
            <div class="owl-carousel says_carousel">
               <!-- Items -->
                <div class="item">
                    <div class="media"> 
                       <a href="#" class="client_img"><img src="images/client-1.jpg" alt="" class="rounded-circle"></a>
                        <div class="media-body">
                            <a href="#">Robert Joe</a>
                            <h4>I lose 10 ponds in one week</h4>
                            <P>Osed quia consequuntur magni dolores eos qui rati one voluptatem sequi nesciunt. Neque porro quis-quam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numqua.</P>
                        </div>
                    </div>
                </div>  
               <!-- Items -->
                <div class="item">
                    <div class="media"> 
                       <a href="#" class="client_img"><img src="images/client-1.jpg" alt="" class="rounded-circle"></a>
                        <div class="media-body">
                            <a href="#">Robert Joe</a>
                            <h4>I lose 10 ponds in one week</h4>
                            <P>Osed quia consequuntur magni dolores eos qui rati one voluptatem sequi nesciunt. Neque porro quis-quam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numqua.</P>
                        </div>
                    </div>
                </div>  
               <!-- Items -->
                <div class="item">
                    <div class="media"> 
                       <a href="#" class="client_img"><img src="images/client-1.jpg" alt="" class="rounded-circle"></a>
                        <div class="media-body">
                            <a href="#">Robert Joe</a>
                            <h4>I lose 10 ponds in one week</h4>
                            <P>Osed quia consequuntur magni dolores eos qui rati one voluptatem sequi nesciunt. Neque porro quis-quam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numqua.</P>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>
<!--================End Our customers says Area =================-->

<!--================Health Counter Area =================--> 
<section class="health_counter_area">
    <div class="container">
        <div class="row health_counter_row">
            <div class="col-lg-3 col-md-6 counter_col">
                <h1 class="counter">12</h1> 
                <h4>Years of Health Coaching Experience</h4>
            </div>
            <div class="col-lg-3 col-md-6 counter_col">
                <h1 class="counter">48</h1> 
                <h4>Contest attended about <br>Fitness</h4>
            </div>
            <div class="col-lg-3 col-md-6 counter_col">
                <h1 class="counter">547</h1> 
                <h4>Happy Customer with my <br> exercise plans</h4>
            </div>
            <div class="col-lg-3 col-md-6 counter_col">
                <h1>0<span class="counter">9</span></h1> 
                <h4>Bese Weight Loss &amp; Fitness Programmes </h4>
            </div>
        </div>
    </div>
</section>
<!--================End Health Counter Area =================-->



<!--================Contact Area =================--> 
<section class="contact_area"> 
    <div class="left_contact">
        <div class="contact_from_area">
            <form class="row from_main" action="php/contact.php" method="post" id="phpcontactform" novalidate="novalidate"> 
                <div class="form-group col-12">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address*">
                </div>
                <div class="form-group col-12">   
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject*"> 
                </div>
                <div class="form-group col-12">
                    <textarea class="form-control" id="message" name="message" placeholder="Message"></textarea>
                </div>
                <div class="form-group col-12">
                    <button class="find_btn btn" id="js-contact-btn" type="submit">Submit Now</button> 
                    <div id="js-contact-result" data-success-msg="Form submitted successfully." data-error-msg="Messages Successfully"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="right_contact">
        <div class="request_area">
           <div class="request">
                <img src="images/contact-bg.jpg" alt="">
                <div class="request_content">
                    <h2><span>Request</span> Free Consultation</h2>
                    <p>It’s time to take care of your health now! And you see this guest will visit the club</p>
                </div>
           </div>
        </div>
    </div>
</section>
<!--================End Contact Area =================--> 