{{ define "main" }}

        <!--================Banner Area =================-->  
        <div class="banner_area">
          <h2>{{ .Title }}</h2>
          <a href="#">Home  > Servicios  <span>> {{ .Title }}</span></a>
      </div>
      <!--================End Banner Area =================-->  
      
      <!--================Blog tow column Area =================--> 
      <section class="nutrition_plan_area">
        <div class="container">
            <div class="row nutrition_plan_inner nutrition_plan_main">
                <div class="col-lg-9 nutrition_right_sidebar float-md-right">
                    <div class="row plan_main_row">
                        <div class="col-12 program_details">
                            <h2>El servicio</h2>
                            {{ .Content }}
                        </div> 
                        <div class="col benefit_nutritions_img"><img src="images/nutrition-4.jpg" alt=""></div>
                        <div class="col benefit_nutritions_content">
                            <h3>Benefit of Nutritions</h3>
                            <p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,</p>
                            <ul class="benefit_list">
                                <li>Those who do not know how to pursue</li>
                                <li>Pleasure rationally encounter</li>
                                <li>Consequences that are extremely painful.</li>
                                <li>Nor again is there anyone who loves or pursues</li>
                            </ul>
                        </div>
                        <div class="col-12 nutrition_strategies">
                           <div class="row media_row m-0">
                            {{ range .Params.claves }}
                                <div class="media b_g col-md-6">
                                   <i class="flaticon-{{ .icono }}"></i>
                                    <div class="media-left">
                                        <h4>{{ .titulo }}</h4>
                                        <p>{{ .descripcion }}</p>
                                    </div>
                                </div>
                            {{ end }}
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 nutrition_left_sidebar float-md-right">
                    <ul class="plan_menu">
                        {{ range first 10 (where .Site.RegularPages "Type" "servicio") }}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                    <a href="#" class="contact_info p_t"><i class="fa fa-phone"></i>676 53 79 96</a>
                    <a href="#" class="contact_info"><i class="fa fa-paper-plane"></i>tere@teresarojo.com</a>
                </div>
            </div>
        </div>
      </section>
      <!--================End Blog tow column Area =================--> 
{{ end }}
