<!--================Contact Area =================--> 
<section class="contact_area"> 
    <div class="left_contact">
        <div class="contact_from_area">
            <form class="row from_main" action="php/contact.php" method="post" id="phpcontactform" novalidate="novalidate"> 
                <div class="form-group col-12">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address*">
                </div>
                <div class="form-group col-12">   
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject*"> 
                </div>
                <div class="form-group col-12">
                    <textarea class="form-control" id="message" name="message" placeholder="Message"></textarea>
                </div>
                <div class="form-group col-12">
                    <button class="find_btn btn" id="js-contact-btn" type="submit">Submit Now</button> 
                    <div id="js-contact-result" data-success-msg="Form submitted successfully." data-error-msg="Messages Successfully"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="right_contact">
        <div class="request_area">
           <div class="request">
                <img src="images/contact-bg.jpg" alt="">
                <div class="request_content">
                    <h2><span>Request</span> Free Consultation</h2>
                    <p>It’s time to take care of your health now! And you see this guest will visit the club</p>
                </div>
           </div>
        </div>
    </div>
</section>
<!--================End Contact Area =================--> 