<!--================Our Services Area =================--> 
<section class="services_area">
    <div class="container">
       <div class="left_tittle">
        <h2>{{ .Params.servicios }}</h2>
        <p>{{ .Params.serviciosExplicacion }}</p>
       </div>
        <div class="row service_row">
            {{ range .Params.serviciosListado }}
            <div class="col-lg-4 col-md-6 body_mind">
                <div class="media"> 
                    <i class="flaticon-running"></i>
                    <div class="media-body">
                        <h4>{{ .titulo }}</h4>
                        <p>{{ .explicacion }}</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!--================End Our Services Area =================-->