<!--================Our customers says Area =================--> 
<section class="customers_says">
    <div class="container">
       <div class="center_tittle">
           <h2>{{ .Params.testimoniosTitulo }}</h2>
           <h6>{{ .Params.testimoniosSubtitulo }}</h6>
       </div>
        <div class="customers_says_row">
            <div class="owl-carousel says_carousel">
                {{ range .Params.testimoniosListado }}
               <!-- Items -->
               <div class="item">
                    <div class="media"> 
                       <a href="#" class="client_img"><img src="images/client-1.jpg" alt="" class="rounded-circle"></a>
                        <div class="media-body">
                            <a href="#">{{ .nombre }}</a>
                            <h4>{{ .titular }}</h4>
                            <p>{{ .descripcion }}</p>
                        </div>
                    </div>
               </div>
               {{ end }}
            </div>
        </div>
    </div>
</section>
<!--================End Our customers says Area =================-->